@media screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
  .section {
    padding-top: 96px;
    padding-bottom: 104px;
  }
  /* -----------------------header----------------------- */
  .header-info {
    display: initial;
  }
  .header-mailto,
  .header-tel {
    font-weight: 400;
    font-size: 12px;
    line-height: calc(16 / 12);
    color: #434455;
    letter-spacing: 0.04em;
  }
  .hero {
    width: 768px;
  }
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../img/people-office-tab.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../img/people-office-tab-2x.jpg);
    }
  }
  .header-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .hero-caption {
    max-width: 494px;
  }
  .menu-open {
    display: none;
  }
  /*----------------------about ----------------------*/
  .about-section {
    display: none;
  }
  /*------------------- text------------------- */
  .text {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .text-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 72px 24px;
  }
  .text-item {
    width: calc((100% - 24px) / 2);
  }
  .features-div {
    display: none;
  }
  .text-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
  }
  .text-quote {
    font-size: 16px;
    line-height: 1.5;
  }
  /* -------------------user----------------- */
  .user-list {
    justify-content: center;
    flex-wrap: wrap;
  }
  /* ------------------clients-------------- */
  .clients-list {
    gap: 24px;
  }
  /* -------------------footer----------------- */
  .studio-footer {
    display: flex;
    justify-content: center;
  }
  .footer div {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 24px;
  }
  .social-media {
    display: flex;
    flex-direction: column;
  }
  .online {
    margin-top: 72px;
    margin-right: 36px;
  }
  .footer > .container {
    width: 582px;
    display: flex;
    column-gap: 24px;
    row-gap: 72px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  /* _______________Portfolio______________________ */
  .project-item {
    height: 420px;
    width: calc((100% - 24px) / 2);
  }
  .project-list {
    display: flex;
    justify-content: flex-start;
  }
}
